body {
  width: 450px;
  height: 300px;
  /* Increased height for space above and below */
  margin: 0;
  padding: 0;
  display: flex;
  /* Center horizontally */
  align-items: center;
  /* Center vertically */
  background-color: white;
  /* White background */
  flex-direction: column;
  /* Display elements in a column */
}

#control-row {
  display: flex;
  justify-content: center;
  align-items: center;
  /* Center elements horizontally */
  flex-direction: column;
  /* Display elements in a column */
  margin-top: 1rem;
  /* Add some space above the form */
}

button:hover {
  background-color: #1e8e52;
  /* Darker green background on hover */
  border-color: #1e8e52;
  /* Darker green border on hover */
}

.logo {
  margin-bottom: 1rem;
  width: 160px;
}

div#msg-div {
  width: 400px;
  max-height: 180px; /* Set a maximum height */
  text-align: left;
  word-wrap: break-word;
  border: 1px solid #800000;
  overflow-y: auto; /* Add vertical scrollbar if content overflows */
}
